assets/imgs/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/imgs/*.jpeg filter=lfs diff=lfs merge=lfs -text
assets/imgs/*.JPG filter=lfs diff=lfs merge=lfs -text
assets/imgs/*.png filter=lfs diff=lfs merge=lfs -text
