title: 行政院公共數位創新空間
author: PDIS
email: hello@pdis.tw
lang: zh-tw
description: > # this means to ignore newlines until "baseurl:"
  我們協助政府部會提升數位服務。

twitter_username: TaiwanPDIS
github_username:  pdis
permalink: pretty

collections: # create posts folder other than _posts
  projects:
    output: true
    permalink: /:collection/:path/
  tracks:
    output: true
    permalink: /:collection/:path/

sass:
    style: compressed
