<div class='section'>
  <section>

    {% for user in site.data.aboutus %}
      {% cycle '<div class="row">', '', '' %}

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="{{ user.avatar }}" alt="{{ user.name }}">
            <a href="{{ user.wiselike }}" target="_blank" class="btn-floating halfway-fab waves-effect waves-light red accent-1"><i class="material-icons">send</i></a>
          </div>
          <div class="card-content">
            <span class="card-title">{{ user.name }}</span>
            {{ user.content }}
          </div>
        </div>
      </div>

      {% cycle 'end': '', '', '</div>' %}
    {% endfor %}
    {% cycle 'end': '', '</div>', '</div>' %}

  </section>
</div>
