{% assign posts = include.posts | default: site.categories.blog %}

<div class="posts section">
  <section>
    <div class="collection">

      {% if page.url == '/' %}
        {% assign posts = posts | slice: 0,3 %}
      {% endif %}

      {% for post in posts %}
      <a class="collection-item white-text center dim" href="{{ post.url | relative_url }}" style="background:url('{{ post.image }}') center / cover">
        <h3 class="title">{{ post.title | escape }}</h3>
        <div class='date'>
          <i class="tiny material-icons" style='vertical-align:middle'>access_time</i>
          {{ post.date | date: "%Y-%m-%d" }}
        </div>
        <p>
          {{ post.excerpt | truncate: 100 | strip_html }}
        </p>
      </a>
      {% endfor %}

    </div>
  </section>
</div>
