{% if page.url != '/' %}
<h1 class="center" style="font-size:2.8em;">{% t site.blog %}</h1>
{% endif %}

<div class="posts section">
  <section>

    <div class="collection">
      {% if page.url == '/' %}
        {% assign posts = site.categories.blog | slice: 0,3 %}
      {% else %}
        {% assign posts = page.posts %}
      {% endif %}

      {% for post in posts %}
      <a class="collection-item white-text center dim" href="{{ post.url | relative_url }}" style="background:url('{{ post.image }}') center / cover">
        <h3 class="title">{{ post.title | escape }}</h3>
        <p style='display:inline-block'>
          <span class="new badge" data-badge-caption="" style='margin:0'>
            {{ post.date | date: "%Y-%m-%d" }}
          </span>
        </p>
        <p class='container'>
           {% if site.is_fullwidth %}
               {{ post.excerpt | truncate: 100 | strip_html }}
           {% else %}
               {{ post.excerpt | truncate: 200 | strip_html }}
           {% endif %}
        </p>
      </a>
      {% endfor %}
    </div>

    <div class='section'>
    {% if page.url == '/' %}
      <div class="center">
        <a href="{{'/blog'| relative_url }}" class="btn waves-effect waves-light cyan">
          {% t site.more %}{% t site.blog %}
          <i class="material-icons right notranslate">send</i>
        </a>
      </div>
    {% else %}
      <div class="row">
        <div class="col s4 center">
          {% if page.prevUrl %}
          <a href="{{ page.prevUrl | prepend: site.baseurl | replace: 'index.html', '' | replace: '.html', '/' }}" class="btn waves-effect waves-light cyan">prev</a>
          {% endif %}
        </div>
        <div class="col s4 center">
          {{ page.number }} / {{ page.pages }}
        </div>
        <div class="col s4 center">
          {% if page.nextUrl %}
          <a href="{{ page.nextUrl | prepend: site.baseurl | replace: '.html', '/' }}" class="btn waves-effect waves-light cyan">next</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    </div>

  </section>
</div>
