{% if page.url != '/' %}
<h1 class="center" style="font-size:2.8em;">{% t site.blog %}</h1>
{% endif %}

<div class="posts section">
  <section>

    <div class="collection">
      {% if page.url == '/' %}
        {% assign posts = site.categories.blog | slice: 0,3 %}
      {% else %}
        {% assign posts = page.posts %}
      {% endif %}

      {% for post in posts %}
      <a class="collection-item white-text center dim" href="{{ post.url | relative_url }}" style="background:url('{{ post.image }}') center / cover">
        <span class="new badge right" data-badge-caption="">
          <i class="material-icons tiny">event</i>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%Y-%m-%d" }}
          </time>
        </span>
        <h5 class="title">{{ post.title | escape }}</h5>
        <p class='content container'>
           {% if site.is_fullwidth %}
               {{ post.excerpt | truncate: 100 | strip_html }}
           {% else %}
               {{ post.excerpt | truncate: 200 | strip_html }}
           {% endif %}
        </p>
      </a>
      {% endfor %}
    </div>

    <div class='section center'>
    {% if page.url == '/' %}
      <div>
        <a href="{{'/blog'| relative_url }}" class="btn waves-effect waves-light cyan">
          {% t site.more %}{% t site.blog %}
          <i class="material-icons right notranslate">send</i>
        </a>
      </div>
    {% else %}
      <ul class="pagination">
        <li class="waves-effect">
          {% if page.prevUrl %}
          <a href="{{ page.prevUrl | relative_url | replace: 'index.html', '' | replace: '.html', '/' }}" class="btn-flat waves-effect"><i class="material-icons">navigate_before</i></a>
          {% endif %}
        </li>
        <li>
            {{ page.number }} / {{ page.pages }}
        </li>
        <li class="waves-effect">
          {% if page.nextUrl %}
          <a href="{{ page.nextUrl | relative_url | replace: '.html', '/' }}" class="btn-flat waves-effect"><i class="material-icons">navigate_next</i></a>
          {% endif %}
        </li>
      </ul>
    {% endif %}
    </div>

  </section>
</div>
