{% assign color = include.color | default: 'teal-text' %}

<nav class="transparent z-depth-0" role="navigation">
    <div class="nav-wrapper container">

      <!-- Logo -->
      <a id="logo-container" class="right brand-logo hoverable" style='line-height:0' href="{{ '/' | relative_url }}">
        <img src="/images/pdis-logo-final-inverse.png" alt="logo" style="height: 64px;">
      </a>
      <!--  -->

      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}

      <!-- Menu -->
      <ul class="hide-on-med-and-down">
        <li><a href="{{ '/' | relative_url }}" class='{{ color }}'> <i class="material-icons">home</i> </a></li>
        <li><a href="/guide/" class='{{ color }}'>關於我們</a></li>
        <li class="drop"><a class='{{ color }}'>我們怎麼做</a>
          <ul>
            <li><a href="/tools/"class='{{ color }}'>工具</a></li>
          </ul>
        </li>

        <li class="drop"><a class='{{ color }}'>我們做了什麼</a>
          <ul>
            <li><a href="/projects/"class='{{ color }}'>專案</a></li>
            <li><a href="/blog/"class='{{ color }}'>工作日誌</a></li>
            <li><a href="/track/"class='{{ color }}'>工作紀錄</a></li>
          </ul>
        </li>
      </ul>
      <!--  -->

      <!-- Sidebar and Hamburger menu -->
      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ '/' | relative_url }}" class='{{ color }}'>Home</a></li>
        {% if page_paths %}
            {% for path in page_paths %}
                {% assign my_page = site.pages | where: "path", path | first %}
                {% if my_page.title %}
                <li><a href="{{ my_page.url | relative_url }}" class='{{ color }}'>{{ my_page.title | escape }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse {{ color }}"><i class="material-icons">menu</i></a>
      <!--  -->

    </div>
</nav>
