<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/css/swiper.min.css">
<link rel="stylesheet" type="text/css" media="screen,projection" href="/assets/materialize.css">
<link rel="stylesheet" type="text/css" media="screen,projection" href="/assets/main.css">
<link rel="stylesheet" type="text/css" media="screen,projection" href="/fonts/material-design-icons/material-icons.css">
{% feed_meta %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://use.fontawesome.com/e7b4292f28.js"></script>
{% include google-analytics.html %}