<nav class="transparent z-depth-0" role="navigation">
    <div class="nav-wrapper container">

      <a id="logo-container" class="right brand-logo hoverable" style='line-height:0' href="{{ '/' | relative_url }}">
        <img src="/images/pdis-logo-final-inverse.png" alt="logo" style="height: 64px;">
      </a>

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

      <ul class="hide-on-med-and-down">
        <li><a href="{{ '/' | relative_url }}" class='teal-text'> <i class="material-icons">home</i> </a></li>
        {% if page_paths %}
            {% for path in page_paths %}
                {% assign my_page = site.pages | where: "path", path | first %}
                {% if my_page.title %}
                <li><a href="{{ my_page.url | relative_url }}" class='teal-text'>{{ my_page.title | escape }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{{ '/' | relative_url }}" class='teal-text'>Home</a></li>
        {% if page_paths %}
            {% for path in page_paths %}
                {% assign my_page = site.pages | where: "path", path | first %}
                {% if my_page.title %}
                <li><a href="{{ my_page.url | relative_url }}" class='teal-text'>{{ my_page.title | escape }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse teal-text"><i class="material-icons">menu</i></a>
    </div>
</nav>
