{% for nav in site.data.nav %}
  {% if nav.items %}
  <!-- nested -->
  <li class='drop'><a class='{{ color }}'>{{ nav.title }}<span class="material-icons" style="vertical-align:middle">expand_more</span></a>
    <ul>
      {% for item in nav.items %}
      <li><a href='{{ item.link | relative_url }}' class='{{ color }}'>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <!-- single -->
  <li><a href="{{ nav.link | relative_url }}" class="{{ color }}">{{ nav.icon | default: nav.title }}</a></li>
  {% endif %}
{% endfor %}

<li>
  <div class="search-wrapper">
    <input id="search" class="search-box" placeholder="Search" value="">
    <i id="searchbutton" class="material-icons" onclick="javascript:location.href='/search/?q='+search[0].value+search[1].value">search</i>
    <div class="search-results"></div>
  </div>
</li>

<script>
  // search.value = new URL(window.location.href).searchParams.get("q");
  document.getElementById("search").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
      searchbutton[0].click();
    }
  });
</script>