<li>
  <a href="{{ 'contact' | relative_url }}" class="grey-text text-darken-3">
    {% t site.contact %}
  </a>
</li>

<li class='drop'>
  <a class='grey-text text-darken-3'>{% t site.how-we-work %}
    <span class="material-icons notranslate" style="vertical-align:middle">expand_more</span>
  </a>
  <ul>
    <li>
      <a href="{{ 'tools' | relative_url }}" class='grey-text text-darken-3'>{% t site.tools %}</a>
    </li>
  </ul>
</li>

<li class='drop'>
  <a class='grey-text text-darken-3'>{% t site.what-we-do %}
    <span class="material-icons notranslate" style="vertical-align:middle">expand_more</span>
  </a>
  <ul>
    <li>
      <a href="{{ 'project' | relative_url }}" class='grey-text text-darken-3'>{% t site.project %}</a>
    </li>
    <li>
      <a href="{{ 'blog' | relative_url }}" class='grey-text text-darken-3'>{% t site.blog %}</a>
    </li>
    <li>
      <a href="{{ 'track' | relative_url }}" class='grey-text text-darken-3'>{% t site.track %}</a>
    </li>
  </ul>
</li>

<li>
  <div class="search-wrapper">
    <input class="search-box" placeholder="Search" value="" onchange="search(this)">
    <i class="material-icons search-button notranslate" onclick="search(this)">search</i>
    <div class="search-results"></div>
  </div>
</li>

<script>
  function search(e) {
    let q = e.parentNode.firstElementChild.value.trim();
    if (q) window.location.href = "{{ 'search' | relative_url }}/?q=" + encodeURIComponent(q);
  }
</script>

<li><a class="tooltipped" data-position="bottom" data-tooltip="zh-TW" href="{{ page.url | prepend: '/zh-TW' }}"><span class="flag-icon flag-icon-tw flag-icon-squared"></span></a></li>
<li><a class="tooltipped" data-position="bottom" data-tooltip="EN" href="{{ page.url | prepend: '/en' }}"><span class="flag-icon flag-icon-us flag-icon-squared"></span></a></li>
