{% if page.url != '/' %}
<h1 class="center" style="font-size:2.8em;">{% t site.project %}</h1>
{% endif %}

<div class='projects section'>
  <section>

    {% if page.url == '/' %}
      {% assign projects = site.categories.project | slice: 0,3 %}
    {% else %}
      {% assign projects = site.categories.project %}
    {% endif %}

    <div class="row">
      {% for project in projects %}

        <div class="col s12 m4">
          <a href='{{ project.url | relative_url }}' class="card grey-text text-darken-4 hoverable" style='display:block'>
            <div class="card-image dim" style='background:url("{{ project.image | default: site.image }}") center / cover no-repeat'>
              <span class="badge white-text" data-badge-caption="">
                <i class="material-icons tiny">event</i>
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ project.date | date: "%Y-%m-%d" }}
                </time>
              </span>
            </div>
            <div class="card-content">
              <h3 class="card-title" title='{{ project.title }}' style='margin-top:0;font-weight: bold;'>{{ project.title }}</h3>
              <div class='card-proj-content' title='{{ project.excerpt | truncate: 100 | strip_html }}'>
                {% if site.is_fullwidth %}
                    {{ project.excerpt | truncate: 100 | strip_html }}
                {% else %}
                    {{ project.excerpt | truncate: 200 | strip_html }}
                {% endif %}
              </div>
            </div>
          </a>
        </div>
        {% cycle '', '', </div><div class="row">' %}

      {% endfor %}
    </div>

    {% if page.url == '/' %}
    <div class='center section'>
      <a href="{{'project' | relative_url }}" class="btn waves-effect waves-light cyan">
        {% t site.more %}{% t site.project %}
        <i class="material-icons right notranslate">send</i>
      </a>
    </div>
    {% endif %}

  </section>
</div>
