<!--  Scripts-->
<script src="{{ 'js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'js/materialize.min.js' | relative_url }}"></script>
<script src="{{ 'js/init.js' | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/js/swiper.min.js"></script>

<script>
var mySwiper = new Swiper ('.swiper-container', {
  direction: 'horizontal',
  loop: false,
  pagination: {
    el: '.swiper-pagination',
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }
})
</script>