<!-- google translate button -->
<div id="google_translate_element" class="translate-widget"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
  }
</script>
<script type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/js/swiper.min.js" integrity="sha512-Gj5GvYyEqqMRaVz+ney8QPhAnWUlfgAgU3uXsQQr4sfE+yum3zoFXDvc1cnh+UzGGnUddlQfbCH5x2HCdps5FA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/colcade.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/init.js"></script>
