<div class="col s12 m4">
    <a href='{{ user.wiselike }}' target="_blank" class="card grey-text text-darken-4 hoverable" style='display:block'>
      <div class="card-image dimmable" style='height:25rem;background:url("{{ user.avatar }}") center / cover no-repeat'>
        <!-- <img src="{{ project.image | default: site.image }}" alt='project img'/> -->
        <span class="card-title">{{user.content}}</span>
        <br>
        <span class="card-title" style="top:0px">{{user.name}}</span>
      </div>
    </a>
  </div>