$grey: #9e9e9e;
$plum: #8e44ad;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

.nav {
    margin-left: 20%;
    > li {
      display: inline-block;
      padding: 1em 18px;
      cursor: pointer;
      &:hover {
        background: lighten($grey, 30%);
      }
    }
  }

  .drop {
    position: relative;
    ul {
      z-index: 1000;
      background-color: #efebe9;
      position: absolute;
      left: 0;
      width: 100%;
      transition: all 0.3s ease;
      transform: scale(0);
      transform-origin: 0 0;
      box-shadow: $shadow;
      li {
        display: block;
        width: 100%;
        a {
          width: 100%;
          display: inline-block;
          white-space: pre;
          box-sizing: border-box;
          &:hover {
            background-color: rgba(0,0,0,0.1);
          }
        }
      }
    }
    &:hover {
      ul {
        transform: scale(1);
      }
    }
  }

  //---------------------------------------------
