@charset "utf-8";

$font: "Roboto", "Microsoft JhengHei", 'PingFangTC', sans-serif;
$font-sans: "Helvetica Neue", "Helvetica", "source-han-sans-traditional", "Microsoft JhengHei", 'PingFangTC', sans-serif;
// $font-serif: "Palatino", "Times New Roman", "source-han-serif-tc", "PMingLiU", 'STSongti-TC', serif;

html {
  font-family: $font;
  font-size: 16px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  >div {
    flex: 1 0 auto;
  }
  >nav,
  >footer {
    flex: 0 0 auto;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
}
h1, h2, h3 {
  font-weight: 700;
}
span {
  font-family: $font-sans;
  line-height: 1.7;
}
p {
  font-family: $font-sans;
  line-height: 1.7;
  a {
    position: relative;
    word-break: break-word;
    border-bottom: 1px solid gray;
    &::after {
      content: '';
      border: 1px solid teal;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      transform: scale(0);
      transition: all .3s ease-out;
    }
    &:hover::after {
      transform: scale(1)
    }
  }
}
a:not(.btn-large):not(.btn):not(.tag) {
  color: dimgray;
  &:hover {
    color: gray;
  }
}
img {
  max-width: 100%;
  height: auto;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: saddlebrown;
}
::selection {
  color: white;
  background: salmon;
}

/* index page */
.team-img
{
  width:75%;
  @media screen and (max-width: 993px) {
    width:100%;
    position: absolute;
  }

}

.cta-block {
  position: absolute;
  z-index: 100;
  right: 0;
  height: 100%;
  display: inline-block;
  width: 19%;
  // max-width: 100%;
   padding: 3%;
  background-color: rgb(97, 98, 102);
  line-height: 0;
  .header {
    width: 13vw;
    text-align: justify;
    font-size: 2.4vw;
    line-height: 1.2;
  }
  .header:lang(zh-TW){
    font-size: 3.2vw;
  }
  // @media screen and (max-width: 1280px) {
  //   width: 144px;
  //   .header {
  //     width: 148px;
  //     text-align: center;
  //     line-height: 1;
  //     font-size: 2rem;
  //   }
  // }
  @media screen and (max-width: 993px) {
    display: none;
  }
}

.cta-block:hover {
  transition: all .5s ease;
  background-color: rgba(0,0,0,0.8);
}

.swiper-container {

  .iframeWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    // padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      overflow: hidden;
    }
  }
}

/* post layout */

.post-image {
  margin: 1em 0 0 0;
  height: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.post-header {
  text-align: center;
  h1.post-title {
    font-size: 2.8em;
    font-weight: 800;
  }
  time {
    font-size: 0.9em;
  }
}
.post-content {
  p, ol, ul, h1, h2, h3, h4, h5, h6 {
    max-width: 768px;
    margin: 1em auto 1em auto;
  }
  li {
    margin-top: 1em;
    font-family: $font-sans;
    line-height: 1.7;
  }
  ul li {
    list-style-type: disc !important;
    margin-left: 1em;
  }
  figure{
    margin: 1em 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.site {
  text-align: center; 
  border-top: 1px solid #999; 
  padding-top: 1em; 
  font-size: small;
  img {
    vertical-align: middle;
  }
}

/* Home page */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.posts .collection .collection-item {
  padding: 5em 1em;
  .title {
    margin: 0 0 1rem 0;
    font-size: 150%;
  }
  >* {
    text-shadow: black 0px 0px 5px;
  }
}

.projects .card .card-image {
  height: 15rem;
}

.dim {
  transition: all .3s ease;
  background-blend-mode: multiply;
  background-color: gray !important;
  &:hover {
    background-color: white !important;
  }
}

/* tags page */

.tags {
  list-style: none;
  // margin: 30px 0;
  overflow: hidden;
  padding: 0;
  li {
    display: inline;
    &:last-child .tag {
      margin: 0 0 1.5vh 0;
    }
  }
  .tag {
    background: #767676;
    &.highlight {
      background: darkred;
    }
    color: #FFF;
    display: inline-block;
    line-height: 1.5;
    padding: 0px 1ch;
    position: relative;
    margin: 0 3ch 1.5vh 0px;
    transition: all .2s ease;
    &:hover {
      background: darkgray;
    }
    .n_tag {
      background: teal;
      margin: 0 -1ch 0 0;
      display: inline-block;
      height: 100%;
      // position: absolute;
      // left: 100%;
      padding: 0 1ch;
    }
  }
}

/* tracks page */

.tracks .collection {
  border: 0;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: .5ch;
    width: 2px;
    height: 100%;
    background: gray;
    margin-top: 2em;
  }
  .row {
    margin-left: 1em;
  }
  .title {
    margin: 0;
  }
  .group-date {
    margin: 1em 0;
    &::before {
      content: '';
      display: inline-block;
      width: 1ch;
      height: 1ch;
      border-radius: 50%;
      background-color: gray;
      margin-right: 1ch;
    }
  }
}

.search-container{
  td{
     padding: 4px 8px !important;
  }

}

.search-wrapper {
  position: relative;
  padding: 0 15px;
  @media screen and (max-width:993px)
  {
    padding: 0 30px;
  }
  .search-box{
    height: 2rem !important;
    color: #424242 !important;
  }
  i.material-icons{
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    height: 2rem;
    line-height: initial;
    color: #424242;
    @media screen and (max-width:993px)
    {
      top: 10px;
      right: 30px;
    }
  }
}

.translate-widget {
    position: fixed;
    right: 10px;
    top: calc(100vh - 25px);
    z-index: 99999;
}
