@charset "utf-8";

$font: "Roboto", "Microsoft JhengHei", 'PingFangTC', sans-serif;
$font-sans: "source-han-sans-traditional", "Microsoft JhengHei", 'PingFangTC', sans-serif;
$font-serif: "source-han-serif-tc", "PMingLiU", 'STSongti-TC', serif;
/* or you can use 'tk-source-han-sans-traditional', 'tk-source-han-serif-tc' as className */

html {
  font-family: $font;
  font-size: 16px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  >div {
    flex: 1 0 auto;
  }
  >nav,
  >footer {
    flex: 0 0 auto;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-serif;
}
h1, h2, h3 {
  font-weight: 700;
}
p, span {
  font-family: $font-sans;
  line-height: 1.7;
  a {
    position: relative;
    word-break: break-word;
    border-bottom: 1px dashed salmon;
    color: initial;
    &::after {
      content: '';
      border: 1px solid salmon;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      transform: scale(0);
      transition: all .3s ease-out;
    }
    &:hover::after {
      transform: scale(1)
    }
  }
}

/* post layout */

.post-header {
  text-align: center;
  h1.post-title {
      font-size: 2.8em;
      font-weight: 800;
  }
  time {
      font-size: 0.9em;
  }
}
.post-content {
  h2, h4 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  figure{
    img {
      max-width: 100%;
      height: auto;
    }
  }
  ul {
    li {
      list-style: square;
    }
  }
}

/* Home page */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.posts .collection .collection-item {
  padding: 5em 1em;
  .title {
    margin: 0 0 1rem 0;
    font-size: 150%;
  }
  .date {
    font-family: monospace;
  }
  &.dim {
    background-blend-mode: multiply;
    background-color: gray !important;
    &:hover {
      background-color: white !important;
    }
  }
}

/* about-us page */

.dimmable{
  background-blend-mode: darken;
  transition: background-color 0.8s ease-out;
  span{
    color: rgba(0, 0, 0, 0) !important;
  }
}

.dimmable:hover{
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.80) !important;
  transition: background-color 0.8s ease-out;
  span{
    color: white !important;
  }
}

/* tags page */

.tag {
  font: 15px/1.5 'PT Sans',serif;
  background: #767676;
  color: #FFF;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  transition: color .2s;
}

.tags {
  list-style: none;
  margin: 30px 0;
  overflow: hidden;
  padding: 0;
  li {
    display: inline;
  }
}
