@charset "utf-8";

$font: "Roboto", "Microsoft JhengHei", 'PingFangTC', sans-serif;
$font-sans: "source-han-sans-traditional", "Microsoft JhengHei", 'PingFangTC', sans-serif;
$font-serif: "source-han-serif-tc", "PMingLiU", 'STSongti-TC', serif;
/* or you can use 'tk-source-han-sans-traditional', 'tk-source-han-serif-tc' as className */

html {
  font-family: $font;
  font-size: 16px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  >div {
    flex: 1 0 auto;
  }
  >nav,
  >footer {
    flex: 0 0 auto;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-serif;
}
h1, h2, h3 {
  font-weight: 700;
}
p {
  font-family: $font-sans;
  line-height: 1.7;
  a {
    position: relative;
    word-break: keep-all;
    border-bottom: 1px dashed salmon;
    &::after {
      content: '';
      border: 1px solid salmon;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      transform: scale(0);
      transition: all .3s ease-out;
    }
    &:hover::after {
      transform: scale(1)
    }
  }
}

/* post layout */

.post-header {
  text-align: center;
  h1.post-title {
      font-size: 2.8em;
      font-weight: 800;
  }
  time {
      font-size: 0.9em;
  }
}
.post-content {
  h2, h4 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  ul {
    li {
      list-style: square;
    }
  }
}

/* Guide page */

h1.page-title {
  font-weight: 500;
  font-size: 2.3em;
  text-align: center;
  color: #29b6f6;
}
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}

/* Home page */

.collection .collection-item.avatar {
  padding-right: 30px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.last-post .collection .collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #ad1457;
    color: #fff;
    text-align: center;
}

.dimmable{
  background-blend-mode: darken;
  transition: background-color 0.8s ease-out;
  span{
    color: rgba(0, 0, 0, 0) !important;
  }
}

.dimmable:hover{
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.80) !important;
  transition: background-color 0.8s ease-out;
  span{
    color: white !important;
  }
}

