@charset "utf-8";

$font: "Roboto", "Microsoft JhengHei", 'PingFangTC', sans-serif;
$font-sans: "Helvetica Neue", "Helvetica", "source-han-sans-traditional", "Microsoft JhengHei", 'PingFangTC', sans-serif;
// $font-serif: "Palatino", "Times New Roman", "source-han-serif-tc", "PMingLiU", 'STSongti-TC', serif;
$mobile-breakpoint: 993px;
$post-max-width: 768px;

html {
  font-family: $font;
  font-size: 16px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  >div {
    flex: 1 0 auto;
  }
  >nav,
  >footer {
    flex: 0 0 auto;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
}
h1, h2, h3 {
  font-weight: 700;
}
span {
  font-family: $font-sans;
  line-height: 1.7;
}
p {
  font-family: $font-sans;
  line-height: 1.7;
  a {
    position: relative;
    word-break: break-word;
    border-bottom: 1px solid gray;
    &::after {
      content: '';
      border: 1px solid teal;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      transform: scale(0);
      transition: all .3s ease-out;
    }
    &:hover::after {
      transform: scale(1)
    }
  }
}
a:not(.btn-large):not(.btn):not(.tag) {
  color: dimgray;
  &:hover {
    color: gray;
  }
}
img {
  max-width: 100%;
  height: auto;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: saddlebrown;
}
::selection {
  color: white;
  background: salmon;
}

/* post layout */

.post-image {
  margin: 1em 0 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50rem;
  @media screen and (max-width:$mobile-breakpoint){
    height: 30rem;
  }
}
.post-header {
  text-align: center;
  h1.post-title {
    font-size: 2.8em;
    font-weight: 800;
  }
  time {
    font-size: 0.9em;
  }
  li {
    display: inline;
  }
}
.post-content {
  p, ol, ul, h1, h2, h3, h4, h5, h6, hr {
    max-width: $post-max-width;
    margin: 1em auto .5em auto;
  }
  li {
    font-family: $font-sans;
    line-height: 1.7;
  }
  ul li {
    list-style-type: disc !important;
    margin-left: 1em;
  }
  iframe:not([width]){
    width: 100%;
    height: 600px;
  }
  iframe {
    display: block;
    margin: 1em auto;
  }
  figure{
    margin: 1em auto;
    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      font-style: italic;
    }
  }
  blockquote {
    padding-left: 0;
    background-color: white;
    box-shadow: grey 1px 3px 5px;
    p {
      padding: 1em;
    }
  }
  hr {
    border: solid 1px gray;
    border-width: 1px 0 0 0;
  }
}

.cc {
  text-align: center; 
  border-top: 1px solid #999; 
  margin: 3rem 0;
  padding-top: 1em; 
  font-size: small;
  img {
    vertical-align: middle;
  }
}

/* Home page */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.posts .collection .collection-item {
  .title {
    margin: 3rem auto;
  }
  .content {
    margin: 2rem auto;
  }
  >* {
    text-shadow: black 0px 0px 5px;
  }
}

.projects .card .card-image {
  height: 18rem;
}

.dim {
  transition: all .3s ease;
  background-blend-mode: multiply;
  background-color: dimgrey !important;
  &:hover {
    background-color: white !important;
  }
}

.about-logos {
  letter-spacing: 1ch;
  line-height: 4rem;
}

/* tags page */

.tags {
  list-style: none;
  // margin: 30px 0;
  overflow: hidden;
  padding: 0;
  li {
    display: inline;
    &:last-child .tag {
      margin: 0 0 1.5vh 0;
    }
  }
  .tag {
    background: #767676;
    &.highlight {
      background: darkred;
    }
    color: #FFF;
    display: inline-block;
    line-height: 1.5;
    padding: 0px 1ch;
    position: relative;
    margin: 0 3ch 1.5vh 0px;
    transition: all .2s ease;
    &:hover {
      background: darkgray;
    }
    .n_tag {
      background: teal;
      margin: 0 -1ch 0 1ch;
      display: inline-block;
      height: 100%;
      // position: absolute;
      // left: 100%;
      padding: 0 1ch;
    }
  }
}

/* tracks page */

.tracks .collection {
  border: 0;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: .5ch;
    width: 2px;
    height: 100%;
    background: gray;
    margin-top: 2em;
  }
  .row {
    margin-left: 1em;
  }
  .title {
    margin: 0;
  }
  .group-date {
    margin: 1em 0;
    &::before {
      content: '';
      display: inline-block;
      width: 1ch;
      height: 1ch;
      border-radius: 50%;
      background-color: gray;
      margin-right: 1ch;
    }
  }
}

.search-container{
  td{
     padding: 4px 8px !important;
  }

}

.search-wrapper {
  position: relative;
  padding: 0 15px;
  @media screen and (max-width:$mobile-breakpoint)
  {
    padding: 0 30px;
  }
  .search-box{
    height: 2rem !important;
    color: #424242 !important;
  }
  i.material-icons{
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    height: 2rem;
    line-height: initial;
    color: #424242;
    @media screen and (max-width:$mobile-breakpoint)
    {
      top: 10px;
      right: 30px;
    }
  }
}

.translate-widget {
    position: fixed;
    right: 10px;
    top: calc(100vh - 25px);
    z-index: 99999;
}
