---
layout: page
title: 聯絡我們
permalink: /contact/
---

<section class='section'>
  <div class="row">
    <div class="col s12 m5 offset-m2">
      <h4>讓我們一起來改善<br>政府的使用者體驗～</h4>
      <p>Use the button below to email us about the problem you’d like to solve, and we’ll set up a time to talk and answer your questions. As fellow federal employees, we want to make sure you find the team that’s best suited to your situation, even if it isn’t 18F. After our initial conversations, we’ll recommend a path to success, whether it’s with 18F, another office in GSA, or a private vendor. Either way, 18F has short, low-cost options to help prepare your team to find the right solution.</p>
      <div class='section'>
        <a href="mailto:hello@pdis.tw" class='disabled btn-large waves-effect waves-light cyan'>寄信過來(not yet)</a>
      </div>
    </div>

    <div class="col s12 m3 teal white-text">
      <h5>心中有計畫了嗎？</h5>
      <p>想知道 PDIS 可以如何協助你，歡迎來信聯絡我們由設計師、工程師及專案顧問組成的團隊！</p>

      <h5>其他聯絡方式</h5>
      <ul>
        <li>媒體相關：press@pdis.tw(?)</li>
        <li>綜合疑難雜症：hello@pdis.tw(?)</li>
        <li>來電：02-33931589</li>
        <li>Youtube:  <a class="white-text" href="https://www.youtube.com/PdisTwGov">PdisTwGov</a> </li>
        <li>GitHub:   <a class="white-text" href="https://github.com/pdis">PDIS</a> </li>
        <li>Facebook: <a class="white-text" href="https://www.facebook.com/shu.w.zhengwei">shu.w.zhengwei</a> </li>
        <li>Twitter:  <a class="white-text" href="https://twitter.com/TaiwanPDIS">@TaiwanPDIS</a> </li>
        <li>RSS Feed(?)</li>
      </ul>
    </div>
  </div>
</section>

<section class='section'>
  <h3 class="center" style="line-height: 3em;">現任成員</h3>
  {% assign users = site.data.aboutus | where:"status","working" %}
  {% assign lastuser = users | last %}
  {% for i in (1..users.size) %}
  {% assign u = i | minus:1 %}
  {% assign rowstart = i | modulo:3 %}
  {% if rowstart == 1 %}
  <div class="row">
    {% endif %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{ users[u].avatar }}" alt="{{ users[u].name }}">
          <a href="{{ users[u].wiselike }}" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light cyan"><i class="material-icons">send</i></a>
        </div>
        <div class="card-content">
          <span class="card-title">{{ users[u].name }}</span>
          {{ users[u].content }}
        </div>
      </div>
    </div>
  {% assign rowend = i | modulo:3 %}
  {% if rowend == 0 %}
  </div>
  {% endif %}
  {% if users[u].name == lastuser.name %}
  </div>
  {% endif %}
  {% endfor %}
  <h3 class="center" style="line-height: 3em;">前任成員</h3>
  {% assign interns = site.data.aboutus | where:"status","leave" %}
  {% for intern in interns %}
  {% cycle '<div class="row">','','' %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{ intern.avatar }}" alt="{{ intern.name }}">
          <a href="{{ intern.wiselike }}" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light cyan"><i class="material-icons">send</i></a>
        </div>
        <div class="card-content">
          <span class="card-title">{{ intern.name }}</span>
          {{ intern.content }}
        </div>
      </div>
    </div>
  {% cycle 'end': '', '', '</div>' %}
  {% endfor %}
  <h3 class="center" style="line-height: 3em;">青年學生體檢政府網站專案見習生</h3>
  {% assign interns = site.data.aboutus | where:"status","intern" %}
  {% for intern in interns %}
  {% cycle '<div class="row">','','' %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{ intern.avatar }}" alt="{{ intern.name }}">
          <a href="{{ intern.wiselike }}" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light cyan"><i class="material-icons">send</i></a>
        </div>
        <div class="card-content">
          <span class="card-title">{{ intern.name }}</span>
          {{ intern.content }}
        </div>
      </div>
    </div>
  {% cycle 'end': '', '', '</div>' %}
  {% endfor %}

</section>
