---
layout: page
title: site.contact
permalink: /contact/
memberList:
  - current
  - former
  - intern
---

<section class='section'>
  {% tf pages/contact.html %}
</section>

{% for status in page.memberList %}
<h3 class="center">{% t contact-us.{{status}} %}</h3>
{% assign people = site.data.authors | where:"status",status %}
<div class="{{ status }} grid" data-colcade="columns: .grid-col, items: .grid-item">
  <!-- columns -->
  <div class="grid-col grid-col--1"></div>
  <div class="grid-col grid-col--2"></div>
  <div class="grid-col grid-col--3"></div>
  <!-- items -->
  {% for person in people %}
  <div class="card-panel grey lighten-5 z-depth-1 grid-item">
    <div class="row" style="margin: 0 -1em;">
      <div class="col s4">
        <img src="{{ person.avatar | default: site.logo }}" alt="{{ person.name }}" class="circle responsive-img" loading="lazy">
      </div>
      <div class="col s8">
        <h6><span>{{ person.name }}</span> <span lang="en">{{ person.name_en }}</span></h6>
        <p>
          <div>{{ person.description }}</div>
          {% if person.description_en %}<div lang="en">{{ person.description_en }}</div>{% endif %}
        </p>
        <div>
          {% if person.website %}<a href="{{ person.website }}" title="website" class="white btn-floating btn-flat btn-small waves-effect"><i class="teal-text fa fa-home"></i></a>{% endif %}
          {% if person.email %}<a href="mailto:{{ person.email }}" title="email" class="white btn-floating btn-flat btn-small waves-effect"><i class="orange-text fa fa-envelope"></i></a>{% endif %}
          {% if person.twitter %}<a href="{{ person.twitter }}" title="twitter" class="white btn-floating btn-flat btn-small waves-effect"><i class="cyan-text fa fa-twitter"></i></a>{% endif %}
          {% if person.linkedin %}
            <a href="{{ person.linkedin }}" title="linkedin" class="white btn-floating btn-flat btn-small waves-effect btn-with-svg">
              {% include svg_icons/linkedin.html width=16 height=16 %}
            </a>
          {% endif %}
          {% if person.mastodon %}
            <a href="{{ person.mastodon }}" title="mastodon" class="white btn-floating btn-flat btn-small waves-effect btn-with-svg">
              {% include svg_icons/mastodon.html width=16 height=16 %}
            </a>
          {% endif %}
          {% if person.facebook %}<a href="{{ person.facebook }}" title="facebook" class="white btn-floating btn-flat btn-small waves-effect"><i class="blue-text fa fa-facebook"></i></a>{% endif %}
          {% if person.instagram %}<a href="{{ person.instagram }}" title="instagram" class="white btn-floating btn-flat btn-small waves-effect"><i class="pink-text fa fa-instagram"></i></a>{% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
