---
layout: page
permalink: /tags/
---


<h1 class="center" style="font-size:2.8em;">{% t site.blog_tags %}</h1>
<!-- Get the tag name for every tag on the site and set them to the `site_tags` variable. -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

<!-- `tag_words` is a sorted array of the tag names. -->
<div class="section container center">
  <ul class="tags">
    {% assign tag_words = site_tags | split:',' | sort %}
    {% for item in (0..site.tags.size) %}
      {% unless forloop.last %}
      {% assign this_word = tag_words[item] %}
      <li>
        <span>
          <a href="#{{ this_word | cgi_escape }}" class="tag">
            {{ this_word }}
            <span class='n_tag'>{{ site.tags[this_word].size }}</span>
          </a>
        </span>
      </li>
      {% endunless %}
    {% endfor %}
      <li>
        <span>
          <a href='./' class='tag'>不分類</a>
        </span>
      </li>
  </ul>
</div>

<div class='section'>
  {% for item in (0..site.tags.size) %}
    {% unless forloop.last %}
      <div class="section">
        {% assign this_word = tag_words[item] %}
        <h5 id="{{ this_word | cgi_escape }}">
          {{ this_word }} | 共{{ site.tags[this_word].size }}篇
        </h5>
        {% for post in site.tags[this_word] %}
        {% if post.title != null %}
        <div class="collection">
          <a href="{{ post.url | relative_url }}" class="row collection-item grey-text text-darken-3">
            <span class="col m9 s12">
              {{ post.title }}
            </span>
            <span class="col m3 s12 right-align">
              {% assign date_format = site.minima.date_format | default: "%Y年%m月%d日" %}
              {{ post.date | date: date_format  }}
            </span>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
