---
layout: page
title: site.tools
permalink: /tools/
---

<h1 class="center" style="font-size:2.8em;">{% t tools.title %}</h1>
<section class="section">
  {% for tool in site.translations[site.lang].tools.list %}
  <div class="row">
    <div class="col l7 {% cycle 'push-l5', '' %} s12">
      <h4>{{ tool.title }}</h4>
      {{ tool.content | markdownify }}
      <p>
        {% if tool.link %} <a href="{{ tool.link }}">{{ tool.title }}</a> {% endif %}
      </p>
    </div>
    <div class="col l5 {% cycle 'pull-l7', '' %} s12">
      <img src="{{ tool.image }}" alt="{{ tool.title }}">
    </div>
  </div>
  {% endfor %}
</section>
