---
layout: page
title: 工作紀錄
permalink: /track/
---

<div class="section">

  <ul class="collection">
    {% for track in site.data.tracks %}
    <li class="collection-item avatar">
      <i class="material-icons circle" title="{{ track.id }}">folder</i>
      <h6 class="title">{{ track.title }}</h6>
      <p style="font-family:monospace;">{{ track.date }}</p>
      {% for tag in track.tags %}
        <div class="chip">{{ tag }}</div>
      {% endfor %}
      <div>
        {% for item in track.content %}
          {% for link in item %}
          <a href='{{ link[1] }}' class="waves-effect waves-light btn" style="margin-bottom:.5ch;">{{ link[0] }}</a>
          {% endfor %}
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>

</div>
