---
layout: page
title: 工作紀錄
permalink: /track/
---

<div class="tracks section">

  <div class="collection">
    {% for track in site.data.tracks %}
<div class='track-item'>
    {% if track.date != l_track_date %}
    <div class='group-date' style='font-size: 18px;'>{{ track.date }}</div>
    {% endif %}

    <div class="row collection-item">
      <div class="col s12 m3 l2">
        {% for tag in track.tags %}
        <div class="chip">
          {{ tag }}
        </div>
        {% endfor %}
      </div>

      <div class="col s12 m5 l6">
        <h5 class="title">{{ track.title }}</h5>
      </div>

      <div class="col s12 m4 l4">
      {% for item in track.content %}
        {% for link in item %}
        <a href='{{ link[1] }}' class="waves-effect waves-light btn" style="margin-bottom:.5em;width:165px;">{{ link[0] }}</a>
        {% endfor %}
      {% endfor %}
      </div>
    </div>
  </div>
    {% assign l_track_date = track.date %}
    {% endfor %}

  </div>

</div>
