---
bg: brown lighten-5
headcolor: grey-text text-darken-3
footcolor: grey-text text-darken-3
footbgcolor: teal lighten-4
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body class="{{ layout.bg }}">

    {% include nav.html color=layout.headcolor %}

        {{ content }}

    {% include footer.html color=layout.footcolor bgcolor=layout.footbgcolor %}

    {% include script.html %}
    
    <div id="google_translate_element" class="translate-widget"></div><script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
              

  </body>

</html>
