---
layout: default
color: cyan-text
bgcolor: teal
---

<div class="section no-pad-bot" id="index-banner">
  <div class="row" style="background:url(/images/pdis-team.jpg) center bottom / cover;">
    <div class="col s12 l5 offset-l7 {{ layout.bgcolor }}">
      <div class="container section" style="padding-right:7vw;">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <h3 class="center">
      {{ site.data.features.title }}
    </h3>
    <!--   Icon Section   -->
    <div class="row">
      {% for feature in site.data.features.list limit:3 %}
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center {{ layout.color }}"><i class="material-icons">{{ feature.icon }}</i></h2>
          <h5 class="center">{{ feature.title }}</h5>
          <p class="light">{{ feature.desc }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="blue-grey lighten-5">
  <div class="container">
    {% include projects.html %}
  </div>
</div>

<div class="container">
  {% include blogs.html %}
</div>
