---
layout: page
---

<style>
  h1, h2, h3 { font-size: 1em; line-height: 1.4em; margin: 0.5em 0; }
  h1 { font-size: 1.5em; font-weight: 600; }
  h2 { font-size: 1.3em; }
  .btn-social { margin: 0.3em; font-size: 0.9em; }
  .btn-social i { font-size: inherit; }
</style>

{% assign user = site.data.authors[page.title] %}
<div class="row container">
  <div class="card">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s8 offset-s2 m4">
          <img src="{{ user.avatar | default: site.logo }}" alt="" class="circle responsive-img">
        </div>
        <div class="col s12 m8 black-text">
          <h1>
            <div lang="zh-TW">{{ user.name }}</div>
            <div lang="en">{{ user.name_en }}</div>
          </h1>
          <h2>
            <div lang="zh-TW">{{ user.description }}</div>
            <div lang="en">{{ user.description_en }}</div>
          </h2>
          <div class="row">
            {% if user.website_card %}
              <a href="{{ user.website_card }}" title="web" class="btn-social black-text white btn-flat waves-effect">
                <i class="left teal-text fa fa-home"></i>
                <span>聯絡網頁 Web</span>
              </a>
            {% elsif user.website %}
              <a href="{{ user.website }}" title="website" class="btn-social black-text white btn-flat waves-effect">
                <i class="left teal-text fa fa-home"></i>
                <span>網站 Website</span>
              </a>
            {% endif %}
            {% if user.email %}
              <a href="mailto:{{ user.email }}" title="email" class="btn-social black-text white btn-flat waves-effect">
                <i class="left orange-text fa fa-envelope"></i>
                <span>電子信箱 Email</span>
              </a>
            {% endif %}
            {% if user.twitter %}
              <a href="{{ user.twitter }}" title="twitter" class="btn-social black-text white btn-flat waves-effect">
                <i class="left cyan-text fa fa-twitter"></i>
                <span>Twitter</span>  
              </a>
            {% endif %}
            {% if user.linkedin %}
              <a href="{{ user.linkedin }}" title="linkedin" class="btn-social black-text white btn-flat waves-effect btn-with-svg">
                <i class="valign-wrapper left">{% include svg_icons/linkedin.html width=16 height=16 %}</i>
                <span>LinkedIn</span>
              </a>
            {% endif %}
            
            {% if user.mastodon %}
              <a href="{{ user.mastodon }}" title="mastodon" class="btn-social black-text white btn-flat waves-effect btn-with-svg">
                <i class="valign-wrapper left">{% include svg_icons/mastodon.html width=16 height=16 %}</i>
                <span>Mastodon</span>
              </a>
            {% endif %}

            {% if user.facebook %}
              <a href="{{ user.facebook }}" title="facebook" class="btn-social black-text white btn-flat waves-effect">
                <i class="left blue-text fa fa-facebook"></i>
                <span>Facebook</span>
              </a>
            {% endif %}

            {% if user.instagram %}
              <a href="{{ user.instagram }}" title="instagram" class="btn-social black-text white btn-flat waves-effect">
                <i class="left pink-text fa fa-instagram"></i>
                <span>Instagram</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
