---
layout: default
---

{% if page.image %}
<div class="post-image" style="background:url('{{ page.image }}') center / cover"></div>
{% endif %}

<div class="container">
  <div class="section">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-desc container">{{ page.excerpt | strip_html }}</p>
        <div class="post-meta section container">
          <i class="material-icons tiny">event</i>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%Y-%m-%d" }}
          </time>
          <ul class="authors">
            {% assign authors_name = page.author | replace: "、", ", " | split: ", " %}
            <!-- let nametype = 'name_en' or fallback to 'name' -->
            {% capture nametype %}name{% if site.lang != "zh-TW" %}_{{ site.lang }}{% endif %}{% endcapture %}
            {% for author_name in authors_name %}
              {% assign author = site.data.authors | where: nametype, author_name | first %}
              {% unless author %}
                {% assign author = site.data.authors[author_name] %}
              {% endunless %}
              <li itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="{{ author.wiselike | default: '/contact' }}" target="_blank" rel="noopener noreferrer" itemprop="name" class='chip'>
                  <img src="{{ author.avatar | default: site.logo }}" alt="author">
                  {{ author[nametype] | default: author_name }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <ul class="tags">
            {% for tag in page.tags %}
            <li><a href="{{ 'tags/' | relative_url }}#{{ tag | cgi_escape }}" class="tag">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </header>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>

      <!-- find other posts which has tags that match the name of the project -->
      <div class="row">
        {% for post in site.tags[page.project] %}
          {% if page.title != post.title %}
            <div class="
              {% if site.tags[page.project].size <= 3 %}
              {{ 'col s12 m6 l6' }}
              {% else %}
              {{ 'col s12 m6 l4' }}
              {% endif %}
            ">
              <div class="card grey-text text-darken-4 hoverable">
                <a href="{{ post.url | relative_url }}">
                  <div class="card-image dim" style="background:url('{{ post.image | default: site.image }}') center / cover no-repeat; height: 200px">
                    <span class="card-title" title="{{ post.title }}">{{ post.title }}</span>
                  </div>
                </a>
                <div class="card-content">
                  <span class="badge new" data-badge-caption="">
                    <i class="material-icons tiny">event</i>
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
                  </span>
                  <div class="card-proj-content" title="{{ post.excerpt | truncate: 100 | strip_html }}">
                    {% if site.is_fullwidth %}
                      {{ post.excerpt | truncate: 100 | strip_html }}
                    {% else %}
                      {{ post.excerpt | truncate: 200 | strip_html }}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="cc">
        {% if page.cc %}
          {% t page.cc %}
        {% else %}
          {% t site.cc %}
        {% endif %}
      </div>
    </article>

    <div class="navigate row">
      <div class="col s12 m6">
        {% if page.previous_in_category != nil %}
        <a href="{{page.previous_in_category.url | relative_url}}">
          <div class="card-panel white-text dim" style="background: url('{{page.previous_in_category.image}}') center / cover">
            <i class="left medium material-icons">navigate_before</i>
            <h6>{{page.previous_in_category.title}}</h6>
          </div>
        </a>
        {% endif %}
      </div>
      <div class="col s12 m6">
        {% if page.next_in_category != nil %}
        <a href="{{page.next_in_category.url | relative_url}}">
          <div class="card-panel white-text dim" style="background: url('{{page.next_in_category.image}}') center / cover">
            <i class="right medium material-icons">navigate_next</i>
            <h6>{{page.next_in_category.title}}</h6>
          </div>
        </a>
        {% endif %}
      </div>
    </div>

  </div>
</div>
