---
layout: default
---

<section id="cd-timeline" class="cd-container">
    {% for track in site.data.tracks %}
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>{{ track.title }}</h2>
				<p></p>
				<a href={{ track.link }} class="cd-read-more">{{ track.content }}</a>
				<span class="cd-date">{{ track.created_at }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
{% endfor %}
	</section> <!-- cd-timeline -->