---
layout: default
---

<section id="cd-timeline" class="cd-container">
  {% for track in site.data.tracks %}
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture" />
    </div>
    <div class="cd-timeline-content">
      <h2>{{ track.title }}</h2>
      <p>
        {% for item in track.content %}
          {% for link in item %}
          <a href='{{ link[1] }}' class="cd-read-more">{{ link[0] }}</a>
          {% endfor %}
        {% endfor %}
      </p>
      <span class="cd-date">{{ track.date }}</span>
    </div>
  </div>
  {% endfor %}
</section>
